<footer>
    <div class="grid">
        <div class="unit w-1-1 center-on-mobiles align-left">
            <nav class="bottomnav">
                    <a href="mailto:email@email.com" class="contact">Email</a>
                    <a href="https://twitter.com/mytwitter" class="contact">Twitter</a>
                    <a href="http://github.com/archerja" class="contact">GitHub</a> -->
                    <a href="https://www.youtube.com" class="contact">YouTube</a>
            </nav>
        </div>
    </div>
</footer>
