<footer>
    <div class="grid">
        <div class="unit w-1-1 center-on-mobiles align-left">
            <nav class="bottomnav">
                    <a href="https://www.jmu.edu" class="contact">JMU</a>
                    <a href="https://www.jmu.edu/facmgt" class="contact">Fac Mgt</a>
                    <a href="https://www.youtube.com/user/DukeDogTV" class="contact">JMU YouTube</a>
                    <a href="http://github.com/archerja" class="contact">My GitHub</a>
            </nav>
        </div>
    </div>
</footer>
