<footer>
    <div class="grid">
        <div class="unit w-1-1 center-on-mobiles align-left">
            <nav class="bottomnav">
                    <a href="https://www.jmu.edu" class="contact">JMU</a>
                    <a href="mailto:archerja@jmu.edu" class="contact">Email</a>
                    <a href="http://github.com/archerja" class="contact">GitHub</a>
                    <a href="https://www.youtube.com" class="contact">YouTube</a>
            </nav>
        </div>
    </div>
</footer>
