{% include preamble.html %}
<body class="wrap wider">
{% include header.html %}

<div class="page-content">
	<div class="grid">
		<div class="unit w-1-1">
			<h1>{{ page.title }}</h1>
        	<p class="meta"><span>{{ page.date | date_to_string }}</span> | tags: {% for tag in page.tags %}{% include tags.html %}{% endfor %}</p>

			<div class="post">
				{{ content }}
			</div>

			<div class="unit w-1-2 meta">
			{% if page.previous %}<a href="{{ page.previous.url }}">&larr;&nbsp;{{ page.previous.title }}</a>{% endif %}
			</div>
			<div class="unit w-1-2 meta align-right">{% if page.next %}<a href="{{ page.next.url }}">{{ page.next.title }}&nbsp;&rarr;</a> {% else %} No newer posts{% endif %}
			</div>
    	</div>
	</div>
</div>

{% include footer.html %}

</body>
</html>
